@import "../scss/mixins";
@import "../scss/theme";

.authhome-cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: white;
  &.loading {
    justify-content: center;
    align-items: center;
  }
  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    min-width: 0;
    flex-direction: column;
    display: flex;
    &.right {
      justify-content: space-between;
      align-items: center;
    }
  }
}

.upper-content {
  display: flex;
  min-height: calc(var(--vh, 1vh) * 100);
}

.authhome-tg {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.authhome-logo {
  margin: 30px;
  max-width: 120px;
}

.authhome-logo-mobile {
  margin: 13px auto;
  width: 100px;
  display: none;
}

.noauth-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .authhome-logo-mobile {
    margin: inherit;
    width: 90px;
  }
}

.from-store {
  .authhome-logo,
  .authhome-logo-mobile {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .authhome-cont {
    .col {
      &.left {
        flex-basis: 50%;
        height: calc(var(--vh, 1vh) * 50);
        min-height: 280px;
      }
      &.right {
        flex-basis: 50%;
        min-height: 280px;
      }
    }
    .authhome-logo {
      display: none;
    }

    &.not-exact {
      .col {
        flex-basis: auto;

        &.left {
          animation-name: compress;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-duration: 1s;
          transition: all 1s;
          flex-grow: 0.00001;
          min-height: 0;
        }
        &.right {
          flex-basis: calc(var(--vh, 1vh) * 100);
        }
      }
      .authhome-logo-mobile {
        display: block;
      }
    }

    &.exact {
      .col {
        &.left {
          animation-name: expand;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-duration: 1.5s;
        }
      }
    }

    &.from-store {
      .col {
        &.left {
          display: none;
        }
        &.right {
          flex-basis: calc(var(--vh, 1vh) * 100);
        }
      }
    }
  }

  .upper-content {
    flex-direction: column;
  }
}
