@import '../scss/theme';
@import '../scss/mixins';

$mobile-header-height: 50px;

.userhome-cont{
  background-color: white;

  .content{
    flex-grow: 1;
    .inner-content{
      height: 100%;
      @include media-breakpoint-up(xl) {
        position: relative;
        width: 980px;
      }
    }
  }
}

.userhome-tg{
  display: flex;
  width: 100%;
  flex-grow: 1;
}

@include media-breakpoint-down(md) {
}