@import '../../scss/mixins';

.auth-centered{
  align-self: center;
  margin: 0 auto;
  padding: 0 15px;
}

.social-login{
  display: flex;
  justify-content: center;
}

.login-methods{
  label{
    font-size: 17px;
  }
  .rounded-button{
    margin: 15px 0px;
  }
}

.ticket-guy{
  margin-bottom: 20px;
}

.rounded-button{
  display: block;
}


@include media-breakpoint-down(sm) {
  .ticket-guy{
    display: none;
  }
}

