@import '../../scss/mixins';

.slick-container{
  height: 100%;
  position: relative;
  .logo-mobile{
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    margin: 25px auto 0;
  }
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide
  {
    height:100% !important;
  }

  .slick-slide > div,
  .slide
  {
    height:100%
  }
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  &.slide1{
    background-image: url('/img/auth-home/slide2.jpg');
    background-image: image-set(
      url('/img/auth-home/slide2@0,5x.jpg') 1x,
      url('/img/auth-home/slide2.jpg') 2x
    );
  }
  &.slide2{
    background-image: url('/img/auth-home/slide3.jpg');
    background-image: image-set(
      url('/img/auth-home/slide3@0,5x.jpg') 1x,
      url('/img/auth-home/slide3.jpg') 2x
    );
  }
  &.slide3{
    background-image: url('/img/auth-home/slide4.jpg');
    background-image: image-set(
      url('/img/auth-home/slide4@0,5x.jpg') 1x,
      url('/img/auth-home/slide4.jpg') 2x
    );
  }
  .slide-content{
    color: white;
    display: flex;
    height: 100%;
    transition: opacity 0.3s ease-in;
    opacity: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 20%;
    align-items: center;
    .slide-content-sepator{
      width: 250px;
    }
  }
  background-size: cover !important;
}
.border-slider-mobile{
  display: none;
}
.slick-slide, .slick-slide *{ outline: none !important; }

@include media-breakpoint-down(sm) {
  .not-exact{
    .logo-mobile, .slide-content{
      opacity: 0;
      display: none;
    }
  }
  .slick-container{
    .logo-mobile{
      display: block;
      width: 110px;
    }
  }
  .border-slider-mobile{
    display: block;
    width: calc(100% + 4px);
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}