@import '../../scss/theme';
@import '../../scss/mixins';

$mobile-tabs-height: 50px;
$store-logo: 70px; 
$sticky-join-height: 140px;

.storeinformation-content{
  display: flex;
  width: 100%;
  position: relative;
  &.error, &.loading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
      padding: 20px 10px;
    }
  }
}

.store-content {
  flex-grow: 1;
  flex-basis: 50%;
  margin: $mobile-tabs-height + $store-logo / 2 + 20 0 $sticky-join-height;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .storeinformation-store-name{
    margin: 10px 0;
  }
}

.sticky-join {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $sticky-join-height;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0.5), rgba(255,255,255,0.8), rgba(255,255,255,0.95), rgba(255,255,255, 1) 50%);
}

.footer-visible {
  .sticky-join {
    position: absolute;
    background: none;
  }
}