@import '../../scss/mixins';
$mobile-header-height: 56px;

.loyals-club-referral-user-tutorial-overlay{
  z-index: 22;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}


.loyals-club-referral-user-tutorial-content{
  position: absolute;
  top: calc(((var(--vh, 1vh) * 100) - 500px) / 2);
  left: calc((100vw - 600px) / 2);
  right: calc((100vw - 600px) / 2);
  bottom: calc(((var(--vh, 1vh) * 100) - 500px) / 2);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.10);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  background: white;
  display: flex;
  flex-direction: column;
  .referral-user-logo{
    max-width: 150px;
  }
  .referral-user-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $mobile-header-height;
    z-index: 10;
    .referral-user-logo{
      align-self: center;
      width: 120px;
    }
    .referral-user-close-icon{
      cursor: pointer;
      position: absolute;
      right: 15px;
      font-size: 15px;
      top: 20px;
    }
  }
  .referral-user-body{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .users-help-url{
      font-weight: bold;
    }
    button {
      display: block;
      &.rounded-button {
        margin-top: 25px;
      }
      &.text-button {
        font-weight: bold;
      }
    }

  }
  @include media-breakpoint-down(sm ) {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: none;
  }
}