@import '../../../scss/theme';

.progress-container{
  position: relative;
  display: inline-block;
  margin-top: 40px;
  z-index: 4;

  .storelogo-container{
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  .progress-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    padding: 15px 5px 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > .progress-content-image-wrapper {
      margin-bottom: 5px;
    }
    p{
      font-size: 20px;
      color: $blue-wood;
      line-height: 20px;
      margin: 0;
    }
    .progress-content-points{
      font-size: 23px;
    }
  }
}