@import '../../../scss/theme';

.reward-card-container {
  border-radius: 20px;
  position: relative;
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  background: white;
  max-width: 500px;
  z-index: 1;

  &.level-1{
    border: 1px solid transparent;
    background: 
      linear-gradient(to right, white, white), 
      $gradient-silver; 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  &.level-2{
    border: 1px solid transparent;
    background: 
      linear-gradient(to right, white, white), 
      $gradient-gold; 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  &.level-3{
    border: 1px solid transparent;
    background: 
      linear-gradient(to right, white, white), 
      $gradient-safire; 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  &.disabled{
    padding-right: 50px;
    border: 1px solid transparent;
    background: 
      linear-gradient(to right, white, white), 
      $gradient-grey; 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    .reward-card-title{
      color: $grey;
    }
    .reward-card-description{
      color: $grey;
    }
    .reward-card-meta{
      color: #B3B3B3;
    }
  }
  .reward-card-title {
    margin: 0px 0px 5px;
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: light;
  }

  .reward-card-meta {
    font-family: light;
    color: $grey;
    display: flex;
    margin: 6px 0 4px;
    align-items: center;
    span {
      margin-left: 8px;
      padding-top: 4px;
    }
    .reward-frequency-used{
      color: $danger;
      white-space: nowrap;
    }
  }

  .reward-card-description {

  }
  
  .reward-card-action {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    .icon-lock{
      color: #B3B3B3;
    }
  }

}