@import "../../../scss/theme";

.reward-level-container {
  h3 {
    margin-top: 10px;
  }
  .reward-level {
    margin: 15px 0;
    &.disabled {
      opacity: 0.25;
    }
    .reward-level-header {
      position: relative;
      margin: 4px 0;
      &::before,
      &::after {
        content: "";
        width: 50px;
        height: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: linear-gradient(
          to left,
          rgba(35, 46, 64, 0.01),
          rgba(35, 46, 64, 0.2),
          rgba(35, 46, 64, 0.01)
        );
        display: block;
        position: absolute;
      }
      &::after {
        left: 50%;
        transform: translateX(calc(-100% - 30px));
      }
      &::before {
        right: 50%;
        transform: translateX(calc(100% + 30px));
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      &.no-reward {
        color: $grey;
        font-style: italic;
      }
    }
  }
}
