@import '../../../scss/theme';

.store-information{
  h3{
    margin-top: 0;
  }
  h4{
    margin: 0;
    color: $grey;
    i{
      padding-right: 6px;
    }
  }
  .store-description{
    font-size: 16px;
    line-height: 24px;
    max-width: 600px;
  }
  .social-media-container{
    margin-top: 20px;
    >a {
      &[href]:hover{
        opacity: 0.5;
      }
      padding: 10px;
      font-size: 35px;
      i::before {
        color: $blue-wood;
      }
    }
  }
  .contact-info-container{
    margin-top: 20px;
    min-width: 250px;
    >a {
      display: flex;
      padding: 8px 0;
      align-items: center;
      justify-content: center;
      &[href]:hover{
        opacity: 0.5;
      }
      i {
        flex-basis: 40px;
        padding-bottom: 2px;
        font-size: 20px;
        text-align: center;
      }
      span{
        text-align: left;
      }
    }
  }
}