@import '../../../scss/theme';

.store-card{
  display: flex;
  flex-basis: 100%;
  max-width: 400px;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 9px 2px rgba(0,0,0,0.10);
  padding: 10px;
  position: relative;
  z-index: 2;
  align-items: center;
  &:hover{
    box-shadow: 3px 3px 9px 2px rgba(0,0,0,0.20);
  }
  .storelogo-container{
    flex-basis: 70px;
    width: 70px;
    height: 70px;
  }
  .store-card-meta-container{
    text-align: left;
    flex-grow: 1;
    min-width: 0;
    padding: 0px 10px 0px 15px;
    font-family: light;
    h3, p{
      text-overflow: ellipsis;
      white-space: pre-wrap;
      line-height: 20px;
    }
    h3{
      padding: 5px 0;
      color: $blue-wood;
      overflow: hidden;
      margin: 0;
      font-family: light;
      letter-spacing: 0.6px;
    }
    .store-card-middle-meta{
      color: $grey;
      display: flex;
      align-items: center;
      padding: 5px 0;
      i{
        margin-right: 6px;
        text-align: center;
        flex-basis: 20px;
        font-size: 18px;
      }
      span {
        height: 13px;
        font-size: 16px;
      }
    }
    .store-card-lower-meta{
      padding: 5px 0;
      font-size: 16px;
      color: $grey;
      display: flex;
      align-items: center;
      font-size: 16px;
      .store-card-logo{
        margin-right: 6px;
        flex-basis: 20px;
        width: 20px;
      }
      span{
        height: 13px;
      }
    }
  }
  .store-card-action-container{
    flex-basis: 22px;
    color: $blue-wood;
    align-self: center;
    font-size: 22px;
  }
}