@import '../../scss/mixins';
@import '../../scss/theme';

.circles-background{
  overflow: hidden;
  pointer-events: none;
  .upper{
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    left: 120px;
    z-index: 1;
    background: linear-gradient(45deg,  transparent 30%, #2732481A 100%);
    @include media-breakpoint-down(md) {
      width: 190px;
      height: 190px;
      top: calc(#{$mobile-header-height} - 12px);
      left: 20px;
    }
    @include media-breakpoint-up(xl) {
  
      position: absolute;
      left: 0;
    }
  }
  .lower{
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    bottom: 0px;
    right: 50px;
    z-index: 1;
    background: linear-gradient(-45deg,  transparent 30%, #2732481A 100%);
    @include media-breakpoint-down(md) {
      width: 190px;
      height: 190px;
      right: 20px;
    }
    @include media-breakpoint-up(xl) {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}