.path{
  transition: fill 0.3s ease-in;
  animation: fadeCrown 6s linear infinite;
  fill: url(#Safire);
  opacity: 0;
}

@keyframes fadeCrown {
  0% {
    fill: url(#Silver);
    opacity: 0;
  }
  6% {
    fill: url(#Silver);
    opacity: 1;
  }
  26% {
    fill: url(#Silver);
    opacity: 1;
  }
  32%{
    fill: url(#Silver);
    opacity: 0;
  }
  33%{
    fill: url(#Gold);
    opacity: 0;
  }
  39% {
    fill: url(#Gold);
    opacity: 1;
  }
  59%{
    opacity: 1;
    fill: url(#Gold);
  }
  66%{
    opacity: 0;
    fill: url(#Gold);
  }
  67%{
    opacity: 0;
    fill: url(#Safire);
  }
  73%{
    opacity: 1;
    fill: url(#Safire);
  }
  93% {
    opacity: 1;
    fill: url(#Safire);
  }
  99% {
    opacity: 0;
    fill: url(#Safire);
  }
}