
@import '../../scss/mixins';
@import '../../scss/theme';

.footer{
  color: #FFF;
  background: $blue_wood;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  .footer-copyright{
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    .made-with-love{
      &::before {
        content: '-';
      }
    }
  }
  .footer-link{
    color: white;
    font-size: 15px;
    line-height: 15px;
    &:not(:last-child):after{
      font-family: light;
      content: '|';
      margin: 10px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    .footer-copyright, .footer-link-container{
      flex-basis: 50%;
      .made-with-love {
        display: block;
        &::before {
          content: none;
        }
      }
    }
    .footer-link{
      padding: 8px 0;
      display: block;
    }
  }
}