
@import '../../scss/mixins';
@import '../../scss/theme';

$store-logo: 70px;

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 8;

  .store-header{
    display: flex;
    height: $mobile-header-height;
  
    .store-header-logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%; 
      transform: translateY(-$store-logo/2);  
      pointer-events: none;
      opacity: 1;
      transition: all 0.2s ease-out;
      .storelogo-container {
        margin: 0 auto;
        width: $store-logo;
        height: $store-logo;
        .storelogo {
          border: 1px solid $grey;
          overflow: hidden;
        }
      }
      &.hide {
        opacity: 0;
      }
    }
    .store-button-tabs{
      flex-grow: 1;
      display: flex;
      > button {
        &:first-child{
          padding: 0 $store-logo / 2 0 0;
        }
        &:nth-child(2){
          padding: 0 0 0 $store-logo / 2;
        }
        flex-grow: 1;
        // vertical-align: middle;
        line-height: 26px;
        font-size: 16px;
        color: $grey;
        border-bottom: 1px solid rgba(39,50,72,0.07);
        &.active {
          transition: all 0.3s ease-out;
          font-weight: bold;
          border-bottom: 2px solid rgba(39,50,72,0.5);
          color: $blue-wood;
        }
      }
    }
  }
}
