@import '../../scss/theme.scss';

.storelogo-container{
  border-radius: 100%;
  position: relative;
  background-color: white;
  .storelogo{
    border: 2px solid $grey;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
  }
  .store-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(-100%, -100%);
  }
}