@import '../../scss/theme';
@import '../../scss/mixins';

$mobile-tabs-height: 50px;
$store-logo: 70px; 

.usercustomerprofile-content{
  display: flex;
  width: 100%;
  &.error, &.loading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
      padding: 20px 10px;
    }
  }
  .customerprofile-message{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto 12px;
    font-size: 14px;
    border-radius: 17px;
    &.success {
      border: 1px solid $golden;
      background-color: #F9CF271A;
    }
    &.fail {
      border: 1px solid #c13d465A;
      background-color: #c13d461A;
    }

  }
  .customerprofile-information{
    margin: $mobile-tabs-height + $store-logo / 2 + 20 auto 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .customerprofile-store-name{
      margin: 10px 0;
    }
  }
  .customerprofile-mobile-nav{
    display: none;
  }
}

.float-button{
  position: fixed;
  width: 56px;
  height: 56px;
  background: $blue_wood_light;
  bottom: 30px;
  right: 20px;
  
  border-radius: 100%;
  z-index: 10;
  box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.3);
  transition: all 0.2s ease-out;
  @include media-breakpoint-up(md) {
    bottom: 40px;
    right: 70px;
    width: 60px;
    height: 60px;
    .icon-qr {
      color: #FAFAFA;
      font-size: 28px;
    }
  }
  &:active {
    opacity: 0.8;
  }
  &:hover {
    opacity: 0.8;
  }
  .icon-qr {
    color: #FAFAFA;
    font-size: 24px;
  }
}