
@import '../../scss/theme';
@import '../../scss/mixins';
.userprofile-settings{
  height: 100%;
  &.loading, &.error {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.settings-container{
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 12vh 30px 20px;
  padding: calc(var(--vh, 1vh) * 12) 30px 20px;
  @include media-breakpoint-down(md) {
    padding: 20px 15px;
    .settings-step1, .settings-step2{
      flex-grow: 1;
      margin: 0 auto;
    }
    .settings-step2{
      display: none;
    }
    &.active{
      .settings-step1{
        display: none;
      }
      .settings-step2{
        display: block;
      }
    }
  }
  .settings-step1, .settings-step2{
    flex-basis: 50%;
    z-index: 4;
    max-width: 400px;
  }
  .settings-step2{
    padding: 10px;
  }
  &.active{
    .settings-menu {
      border-right: 1px solid rgba(39, 50, 72, 0.07);
    }
  }
  .settings-step2{
    margin-top: 60px;
  }
  h2{
    text-align: left;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  };
  .settings-menu{
    // display: flex;
    // flex-direction: column;
    align-items: flex-start;
    .settings-menu-item{
      font-size: 16px;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      border: none;
      padding: 15px;
      line-height: 16px;
      width: 100%;
      display: block;
      text-align: left;
      font-weight: bold;
      min-height: 65px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:after{
        content: '';
        display: block;
        position: absolute;
        left:0;
        margin: 0 10px;
        right:0;
        bottom: 0;
        height: 1px;
        background: linear-gradient(to left, rgba(35,46,64, 0.01), rgba(35,46,64, 0.2), rgba(35,46,64, 0.01));;
      }
      &:last-child:after{
        display: none;
      }
      .settings-menu-item-sub{
        font-weight: normal;
        padding-top: 5px;
        display: block;
        color: $grey;
      }
      i{
        position: absolute;
        right: 10px;
        height: 20px;
        margin: auto 0;
        top: 0;
        bottom: 0;
      }
      &.disabled{
        opacity: 0.35;
        cursor: inherit;
      }
    }
  }
}