@import '../../scss/theme';
@import '../../scss/mixins';

.userstores-content{
  padding: 12vh 30px 20px;
  padding: calc(var(--vh, 1vh) * 12) 30px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.loading, &.error, &.no-stores {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .stores-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-auto-rows: 1fr;
    grid-gap: 25px;
    justify-content: center;
  }
  @include media-breakpoint-down(md) {
    padding: 20px 15px;
    grid-gap: 15px;
  }
}

