@import '../../scss/theme';
@import '../../scss/mixins';

.userprofile-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 10px;
  margin: 0 auto;
  .go-back{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 20px;
    transition: all 0.3s ease-out;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.7;
    }
    i{
      color: $blue_wood;
      font-size: 20px;
    }
    span{
      color: $blue_wood;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 4px;
    }
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
    }
  }
  .userprofile-name{
    font-size: 36px;
    line-height: 38px;
    min-width: 0;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-family: bold;
    @include media-breakpoint-down(sm) {
      margin-top: 50px;
    }
  }
  .userprofile-alias{
    font-size: 26px;
    color: $grey;
    margin: 0;
  }
  .userprofile-message{
    font-size: 20px;
    max-width: 500px;
    margin: 0 0 10px 0;
  }
  .userprofile-qr{
    height: calc(var(--vh, 1vh) * 50) !important;
    width: calc(var(--vh, 1vh) * 50) !important;
  }
}