@keyframes compress {
  0% {}
  100% {opacity: 0; height: 0px;}
}

@keyframes expand {
  0% {opacity: 0; height: 0; flex-basis: 0;}
  100% {opacity: 1;}
}

.fade500-enter {
  opacity: 0.01;
}

.fade500-enter.fade500-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade500-exit {
  opacity: 0;
  display: none;
}

.fade500-exit.fade500-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  display: none;
}


.fade200-enter {
  opacity: 0.01;
}

.fade200-enter.fade200-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade200-exit {
  opacity: 0;
  display: none;
}

.fade200-exit.fade200-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
  display: none;
}