button {
  background: none;
  border: none;
  &:focus {
    outline:none;
  }
}

.rounded-button{
  font-family: light;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  width: 280px;
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  border-color: transparent;


  &:hover{
    opacity: 0.6;
  }
  &.active {
    background: #FFF linear-gradient(to right, $golden 0%, rgba(221,141,0,0.4) 100%) center;
    background-size: 100%;
    color: #253047;
  }
  &.dark {
    background: #FFF linear-gradient(to right, rgba(39,50,72,0.4) 0%, rgba(39,50,72,0.1) 100%) center;
    background-size: 100%;
    color: #253047;
  }
  &.white {
    background: transparent linear-gradient(to right, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%) center;
    background-size: 100%;
    color: #253047;
  }
  &:disabled {
    background: #FFF linear-gradient(to right, rgba(39,50,72,0.1) 0%, rgba(39,50,72,0) 100%) center;
    background-size: 100%;
    color:#253047;
    &:hover{
      opacity: 1;
    }
  }
}

.text-button {
  color:#253047;
  font-family: light;
  font-size: 1em;
  line-height: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.blanco{
  background: #FFF url(/img/blanco.png) center;
  background-size: 100%;
  color: #253047;
}

.blanco:hover{
  background: #FFF url(/img/amarillo.png) center;
  background-size: 100%;
  color: #253047;
}

.secondary-button{
  color: #253047;
  background-color:  transparent;
  border: none;
  font-size: 14px;
  display: block;
  width: 100%;
  cursor: pointer;
  &:focus {
    outline:none;
  }
}

.fb-login{
  background-image: url('/img/buttons/facebook-vector.png');
  background-color: #3c579e;
}

.gg-login{
  background-image: url('/img/buttons/google-vector.png');
  background-color: white;
}

.social-media-button {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
  -webkit-appearance: none;
  margin: 12px;
  background-size: cover;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  outline: none;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.8;
  }
}