
@import './theme.scss';
/*GENERAL*/
*{box-sizing: border-box;}
html, body{padding:0;margin: 0;text-align: center;color: #253047;}
html{background:#F2F2F2;}
/*fix overflow-x*/
section{width: 100% !important;overflow-x: hidden !important;}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0)  !important;
  font-family: light;
}

a, a:hover, a:visited {text-decoration: none; color: $blue-wood; font-family: light;}
/* ------ TIPOGRAFÍAS ------ */

/*Text Selection*/
::-moz-selection { background: #ECC635;color:#253047; }
::selection { background: #ECC635;color:#253047; }

/* ------  ELEMENTOS ------  */

/* TEXTO */
h1, h2, h3, h4, h5, h6 {
  font-family: bold;
  font-weight: 1000;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
  line-height: 1.2em;
}
h3{
  font-size: 1.17em;
}
h4{
  font-size: 1em;
}
h5{
  font-size: 0.83em;
}
h6{
  font-size: 0line-height.67em;
}

p, li{
    font-family: light;
    font-size:18px;
    line-height: 32px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

span {
  font-family: light; 
}

li {
  margin: 0;
}
// a{
//     font-family: light;
//     font-size: 14px;
// }
// .bold, b{
//   font-family: bold !important;
//   font-weight: 1000  !important;
// }
// .especial{}



/* ------ EXTRAS ------ */
/*Video de Fondo*/
div#video{
    position: fixed;
    height: 100%;
    background: url(/img/bg.jpg) center;
    background-size: cover;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 3s ease-in-out;
}

div#video video{
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
/*Container Web*/
section#container{
    height: 100%;
    left: 0;
    top: 0;
    vertical-align: top;
    padding:10px;
    transition: all 1.5s ease-in-out;
    visibility: visible;
    z-index: 2;
    overflow: hidden;
}
div#web{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    overflow-y: scroll;  
}

// @media screen and (max-width: 1024px){
//   h1{font-size: 36px;}
//   h2{ font-size:28px;}
//   h3{font-size:18px;}
//   p{font-size:16px;line-height:24px;}
// }
// @media screen and (max-width: 800px){
//   h1{font-size: 32px;}
//   h2{ font-size:24px;}
//   h3{font-size:16px;}
//   p{font-size:16px;line-height:24px;}
// }

// @media screen and (max-width: 600px){
//   h1{font-size: 28px;}
//   h2{ font-size:24px;}
//   h3{font-size:16px;}
//   p{font-size:16px;line-height:24px;}
// }

// @media screen and (max-width: 320px){
//   h1{font-size: 32px;}
// }
