@font-face {
  font-family: bold;
  src: url("/fonts/bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: light;
  src: url("/fonts/light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: medium;
  src: url("/fonts/medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("/font-icons/fonts/icomoon.eot?49ybmu");
  src: url("/font-icons/fonts/icomoon.eot?49ybmu#iefix") format("embedded-opentype"),
    url("/font-icons/fonts/icomoon.ttf?49ybmu") format("truetype"),
    url("/font-icons/fonts/icomoon.woff?49ybmu") format("woff"),
    url("/font-icons/fonts/icomoon.svg?49ybmu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e927";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e918";
}
.icon-add:before {
  content: "\e943";
}
.icon-bucket:before {
  content: "\e945";
}
.icon-frequency:before {
  content: "\e940";
}
.icon-lock:before {
  content: "\e942";
}
.icon-points:before {
  content: "\e93f";
}
.icon-gear:before {
  content: "\e922";
}
.icon-menu:before {
  content: "\e921";
}
.icon-cross:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e919";
}
.icon-stats:before {
  content: "\e920";
}
.icon-user-line:before {
  content: "\e913";
}
.icon-email-line:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-front-arrow:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-birthday:before {
  content: "\e941";
}
.icon-big-arrow:before {
  content: "\e909";
}
.icon-back-arrow:before {
  content: "\e908";
}
.icon-arrow:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e906";
}
.icon-qr:before {
  content: "\e905";
}
.icon-crown:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-discount:before {
  content: "\e904";
}
.icon-store:before {
  content: "\e903";
}
.icon-paste:before {
  content: "\e944";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-chevron-down:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e917";
}
.icon-cat-other:before {
  content: "\e946";
}
.icon-cat-market:before {
  content: "\e93d";
}
.icon-cat-dress:before {
  content: "\e923";
}
.icon-cat-services:before {
  content: "\e93e";
}
.icon-cat-bar:before {
  content: "\e924";
}
.icon-cat-gastronomy:before {
  content: "\e925";
}
.icon-cat-coffee:before {
  content: "\e926";
}
.icon-check:before {
  content: "\e928";
}
