label{
	font-family: bold;
	font-size: 14px;
	color: rgba(35, 46, 64, 0.5);
	width: 200px;
	display: inline-block;
	line-height: 20px;
  margin-bottom: 5px;
  .label-note{
    display: block;
    font-family: light;
  }
}

form input{
	font-family: light;
	font-size: 18px;
	line-height: 30px;
  text-align: center;
  border-radius: 0;
	width: 280px;
	background: transparent;
	outline: none !important;
	border:none;
	border-bottom: 1px solid rgba(35, 46, 64, 0.2);
	color: rgba(35, 46, 64, 0.5);
  transition: all 0.3s ease-in;
  &:focus {
    border-bottom: 1px solid rgba(35, 46, 64, 1);
    color: rgba(35, 46, 64, 1);
    transition: all 0.3s ease-in;
  }
  &.active{
    color: rgba(35, 46, 64, 1);
    border-bottom: 1px solid rgba(35, 46, 64, 1);
  }
  &.error {
    border-bottom: 1px solid #c13d46;
    color: #c13d46;
    transition: all 0.3s ease-in;
  }
  &[type="submit"] {
    border-bottom: none;
  }
  &.day, &.month {
    width: 55px;
  }
  &.year {
    width: 110px;
  }
}

p.error{
	font-size: 15px;
	line-height: 20px;
	color: $danger;
	text-align: center;
}

p.error-field{
  color: $danger;
  font-size: 14px;
  margin: 6px 0;
  line-height: 14px;
  text-align: center;
}

.forgot-password{
  color: #253047;
  font-size: 14px;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.input-wrapper{
  padding: 15px 0 15px;
  &.submit{
    padding: 15px 0 20px;
  }
}

.date-item-container{
  margin-top: 14px;
  .date-item{
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    margin-right: 30px;
    &:last-of-type{
      margin-right: 0px;
    }
    .date-item-label{
      position: absolute;
      color: rgba(35, 46, 64, 0.5);
      top: -14px;
      left: 0;
      right: 0;
      font-family: light;
      font-size: 14px;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
:-internal-autofill-previewed,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $blue_wood;
  background-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  font-size: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}