@import "./theme.scss";
@import "./elementos";
@import "./form";
@import "./buttons";
@import "./animations";
@import "./mixins.scss";
@import "./scrollbar.scss";
@import "./fonts.scss";
@import "./components.scss";

/* smartphones, touchscreens */
@media (hover: hover) and (pointer: fine) {
  html,
  body {
    height: 100%;
  }
}

* {
  //improves icomoon icon visualy.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.hidden {
  display: none;
}
