
@import './mixins';
@import './theme';

@include media-breakpoint-up(sm){
  /*Scrollbar*/
  ::-webkit-scrollbar {
    width: 7.5px;
  } /* this targets the default scrollbar (compulsory) */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    width: 7.5px;
  } /* the new scrollbar will have a flat appearance with the set background color */

  ::-webkit-scrollbar-thumb {
    background-color: $blue_wood_light;
  } /* this will style the thumb, ignoring the track */

  // ::-webkit-scrollbar-button {
  // height:0px;
  //   background-color: #FFF;
  // } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

  // ::-webkit-scrollbar-corner {
  //   // background-color: black;
  // } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
}