$golden: #F9CF27;
$danger: #c13d46;
$blue_wood: #273248;
$blue_wood_light: #454F62;
$light-grey: #FAFAFA;
$grey: #7D8491;
$menu-background: $light-grey;

$gradient-gold: linear-gradient(to right, #DD8D00 0%, $golden 100%);
$gradient-safire: linear-gradient(to right, #00AF8D 0%, #9AC3AA 33.3%, #BDFFFF 66.6%, #00AF8D 99.9%);
$gradient-silver: linear-gradient(to right, #617CA0 0%, #ABB9CF 20%, #617CA0 45%, #ABB9CF 70%, #617CA0 100%);
$gradient-grey: linear-gradient(to right, rgba(39, 50, 72, 0.15) 0%, rgba(39, 50, 72, 0.10) 50%, rgba(39, 50, 72, 0.15) 100%);

$mobile-header-height: 50px;
$desktop-header-height: 80px;